.section_3{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.animal{
display: flex;
}

.btn_animal{
    background-color: #FFFFFF;
    border: #FFFFFF;
}

#btn_animal{
width: 298px;
height: 54px;
background: #FE9013;
border-radius: 25px;
margin-top: 306px;
}

.animal_photo{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: stretch;
    width: 1158px;
    height: 872px;
}

.animal_ph{
    margin-bottom: 20px;
}

#animal{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 460px;
    margin-top: -226px;
}

#palm{
    height: calc(100vw/3.47);
    margin-top: auto;
    margin-left: -15.4vw;

}

#strelitzia{
    height: calc(100vw/5.81);
    margin-top: auto;
}