body{
    display: flex;
    justify-content: center;
    margin: 0;
}

:root{
    --size: 40vw;
}

.div{
    width: var(--size);
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button{
    cursor: pointer;
    font-size: calc(var(--size)/21);
}


.button1{
    background-color: aqua;
}
.button2{
    background-color: rgb(238, 173, 173);
}

.counter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: calc(var(--size)/21);
    margin-top: 10px;
}

.field{
    width: var(--size);
    height: var(--size);
    border: solid black 1px;
    border-radius: 10px;
    position: relative;
    margin-top: 20px;
}

.cell{
    width: 25%;
    height: 25%;
    border: solid black 1px;
    border-radius: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
    transition: all 0.3s;
    cursor: pointer;
}